awscli
boto3

pgcli
mycli

cookiecutter
bumpversion

celery
flower

httpie

grip

ipython
jupyter
ipdb


importmagic
jedi
rope
flake8
pylint

pytest

stdlib_list

pandas
numpy

Sphinx


mitmproxy


Nikola

youtube-dl


# machine learning
keras==2.0.8
tensorflow==1.3.0
