awscli
boto3

pgcli
mycli

cookiecutter
bumpversion

celery
flower

httpie

grip

ipython
jupyter
ipdb


importmagic
jedi
rope
flake8
pylint

pytest

stdlib_list

pandas
numpy
tensorflow

Sphinx


mitmproxy


Nikola

youtube-dl
