# aws
awscli
boto3

celery
flower

ipython
jupyter
ipdb




importmagic
jedi
rope
flake8
pylint


# testing
pytest
nose
tox


pandas
numpy

Sphinx


# Nikola
ghp-import2==1.0.1
jinja2==2.8
Markdown==2.6.9
Nikola==7.8.9
watchdog==0.8.3
ws4py==0.4.2
webassets==0.12.1


# utils
stdlib_list
youtube-dl
grip
cookiecutter
bumpversion


# http web
uncurl
httpie
mitmproxy
internetarchive
django


# db clients
pgcli
mycli


# machine learning
keras==2.0.8
tensorflow==1.3.0


# trading
zipline
backtrader
nsepy
